header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    width: 90%;
    z-index: 30;
    align-items: center;
}
header .logo{
    display: flex;
    font-size: 24px;
    color: white;
}
.highlight{
    font-weight: 800;
}

.links{
    display: flex;
    gap: 10px;
    list-style-type: none;
} 
.links a{
    color: rgba(255, 255, 255, 0.65) ; 
    font-weight: 700;
}
.item {
    height: 560px;
}
.item__content{
    color: white;
    width: 20%;
    padding: 60px 30px;
}
.item__content .btn{
    background-color: #40babd;
    border: 1px solid #40babd;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    top:60px;
}


#about{
    text-align:center;
}
#about .about__icons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about {
    margin: 50px 20px;
}
.detail h2 {
    color: #40babd;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
}
.detail img{
    min-height: 170px;
    margin: 20px 0;
}


@media (max-width: 768px)  {
    .links {
        display: none;
        background: #26282c;
        z-index: 40;
      }
      .links>li{
        margin: 15px 0;
        text-align: center;
      }
      

    .nav-btn{
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
    }
    .carousel__img>img{
        display: none;
    }

    .item__content{
        width: 50%;
    }
    
}
@media (min-width: 768px) {
    .nav-btn{
        display: none;
    }
    .carousel__img>img{
        display: block;
        position: absolute;
        top: 120px;
        right: 60px;
        width: 400px;
    }
    
}
.nav-btn{
    background: #26282c;
}
.nav-btn span{
    background: white;
    height: 3px;
}

.slidershow{
    position: relative;
    width: 100%;
    height: 560px;
    overflow: hidden;
}

.indicators{
    position: inherit;
    bottom: 60px;
    left: 40%;
    transform: translateX(-50);
    z-index: 30;
    display: flex;
}
.bar{
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 100%;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    display: flex;
    width: 33.33333%;
    transition: 0.6s;
}
/* .s1{
    animation: myLocation 20s infinite ;
    animation-delay: 3s;
} */

@keyframes myLocation{
    0% {
        margin-left: 0%;
    }
    50%{
        margin-left: 33.33333%;
    }
    100%{
        margin-left: 66.66666%;
    }

}
#r1:checked ~.s1 {
    margin-left: 0;
}
#r2:checked ~.s1 {
    margin-left: -33.33333%;
}
#r1:checked ~.s1 {
    margin-left: -66.66666%;
}

.slides .item1 {
    background-image: url('/assets/images/hero-1.jpg');
}
.slides .item2 {
    background-image: url('/assets/images/hero-2.jpg');
}
.slides .item3 {
    background-image: url('/assets/images/hero-3.jpg');
}

.show{
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
}

h1{
    font-size: 26px;
}

h3{
    font-size: 16px;
}